@media only screen and (max-width:1091px){ 

        .menu{
          display: block;
        }
        .nav-content,.nav-btn{
            display: none;
        }
/* banner section */

         .banner-container{
            flex-wrap: wrap-reverse;
            text-align: center;
         }
         .banner-description{
            margin-bottom: 30px;
            margin-top: 0px;
        }
}

/* Medium section */
@media only screen and (max-width:621px){
    .menu{
        display: block;
      }
      .nav-content,.nav-btn{
          display: none;
      }
/* banner section */

       .banner-container{
          flex-wrap: wrap-reverse;
          text-align: center;
       }
       .banner-description{
          margin-bottom: 30px;
          margin-top: 0px;
          margin:0 100%;
      }

      .banner-btn{
        margin-bottom: 30px;
      }
}