@media only screen and (max-width:1128px){ 

        .menu{
          display: block;
        }
        .nav-content,.nav-btn{
            display: none;
        }
/* banner section */

         .banner-container{
            flex-wrap: wrap-reverse;
            text-align: center;
         }
         .banner-description{
            margin-bottom: 30px;
            margin-top: 0px;
        }
/* Standard section */

        .card-container{
            flex-direction: column;

            padding:0px 50px 0px 50px;
            /* gap: 100px; */
            margin-bottom:30px;
          }
          
}

/* Medium section */
@media only screen and (max-width:621px){
    .menu{
        display: block;
      }
      .nav-content,.nav-btn{
          display: none;
      }
/* banner section */

       .banner-container{
          flex-wrap: wrap-reverse;
          text-align: center;
       }
       .banner-description{
          margin-bottom: 30px;
          margin-top: 0px;
          margin:0 100%;
      }

      .banner-btn{
        margin-bottom: 30px;
      }
 /* Standard section */
 .card-container{
    flex-direction: column;
    max-width: 100%;
    margin:197px 50px 0px 50px;
  }
  .less-than-icon{
    display: none;
  }


}